.application-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content:left; 
    align-items: stretch; 
    margin: 20px;
    }
  
  .property-card {
    max-width: 400px; 
  }
  